In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import itertools
import re
from itertools import product
import operator
from functools import reduce
import polars as pl
#from pandas import option_context
#%pip install openpyxl
%config InlineBackend.figure_format = 'retina'
plt.style.use('seaborn-pastel')
plt.style.use('seaborn-dark')

/var/folders/t5/84slq0fn2gx51rghrcgxpjt80000gn/T/ipykernel_76169/2875002457.py:15: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn-pastel')
/var/folders/t5/84slq0fn2gx51rghrcgxpjt80000gn/T/ipykernel_76169/2875002457.py:16: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn-dark')

In [1]:
import matplotlib
from matplotlib.colors import ListedColormap
from matplotlib.colors import LinearSegmentedColormap
matplotlib.style.use('dark_background')
color_list = ['white','skyblue','pink', 'tomato', 'slateblue', 'wheat', 'lightgrey', 'limegreen', 'royalblue', 'yellowgreen', 'lightseagreen', 'orchid', 'orange']
cmap = LinearSegmentedColormap.from_list("",color_list)

In [2]:
# Import all the google connexion packages
import os
import google.auth
from google.cloud import bigquery
from google.auth import impersonated_credentials

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = "/Users/a20015173/.config/gcloud/legacy_credentials/ekaterina.rezanovich@adeo.com/adc.json"
client_1 = bigquery.Client(project = 'ccdp-transverse-data-dev')

In [3]:
# 22_2_1P
df_s_22_1_1p = pd.read_parquet('./datasets/sales_2022_1_1P.parquet')

In [4]:
df_s_22_1_1p['amount_to'] = df_s_22_1_1p['amount_to'].astype('float').round(2)
df_s_22_1_1p['qty'] = df_s_22_1_1p['qty'].astype('int').round(2)

In [5]:
df_s_22_1_1p.head(2)

,store_id,cart_date,item_id,cart_id,nb_checkouts,sale_channel_id,delivery_channel_id,amount_to,qty,top_l_c,user_id,gmv_type,sales_channel,delivery_channel
0,158,2022-01-11,84338558,158#7#3648#2022-01-11,1,1,1,13.77,3,1,77370668,1P,Store,Pickup
1,173,2022-01-11,82272860,173#3#7304#2022-01-11,1,1,0,109.89,1,1,16325071,1P,Store,Self-service

In [6]:
df_s_22_1_1p_gr = df_s_22_1_1p.groupby(['store_id', 'cart_date', 'cart_id', 'user_id',\
                                         'top_l_c', 'sales_channel', 'delivery_channel'])\
                                         [['amount_to', 'qty']].sum().reset_index()

In [7]:
df_s_22_1_1p_gr.head(2)

,store_id,cart_date,cart_id,user_id,top_l_c,sales_channel,delivery_channel,amount_to,qty
0,3,2022-01-02,3#13#1880#2022-01-02,16511808,1,Website,Pickup,493.7,5
1,3,2022-01-02,3#13#1881#2022-01-02,52445590,0,Website,Pickup,78.4,1

In [9]:
df_s_22_1_1p_gr.to_parquet('./datasets/sales_gr/df_s_22_1_1p.parquet')

In [8]:
# 22_2_1P
df_s_22_2_1p = pd.read_parquet('./datasets/sales_2022_2_1P.parquet')
df_s_22_2_1p['amount_to'] = df_s_22_2_1p['amount_to'].astype('float').round(2)
df_s_22_2_1p['qty'] = df_s_22_2_1p['qty'].astype('int').round(2)

In [ ]:
df_s_22_2_1p = pd.read_parquet('./datasets/sales_2022_2_1P.parquet')
df_s_22_2_1p['user_id'].nunique()

In [10]:
df_s_22_2_1p_gr = df_s_22_2_1p.groupby(['store_id', 'cart_date', 'cart_id', 'user_id',\
                                         'top_l_c', 'sales_channel', 'delivery_channel'])\
                                         [['amount_to', 'qty']].sum().reset_index()
df_s_22_2_1p_gr.to_parquet('./datasets/sales_gr/df_s_22_2_1p.parquet')

In [11]:
# 22_3_1P
df_s_22_3_1p = pd.read_parquet('./datasets/sales_2022_3_1P.parquet')
df_s_22_3_1p['amount_to'] = df_s_22_3_1p['amount_to'].astype('float').round(2)
df_s_22_3_1p['qty'] = df_s_22_3_1p['qty'].astype('int').round(2)

In [12]:
df_s_22_3_1p_gr = df_s_22_3_1p.groupby(['store_id', 'cart_date', 'cart_id', 'user_id',\
                                         'top_l_c', 'sales_channel', 'delivery_channel'])\
                                         [['amount_to', 'qty']].sum().reset_index()
df_s_22_3_1p_gr.to_parquet('./datasets/sales_gr/df_s_22_3_1p.parquet')

In [6]:
# 22_4_1P
df_s_22_4_1p = pd.read_parquet('./datasets/sales_2022_4_1P.parquet')
df_s_22_4_1p['amount_to'] = df_s_22_4_1p['amount_to'].astype('float').round(2)
df_s_22_4_1p['qty'] = df_s_22_4_1p['qty'].astype('int').round(2)

In [9]:
df_s_22_4_1p_gr = df_s_22_4_1p.groupby(['store_id', 'cart_date', 'cart_id', 'user_id',\
                                         'top_l_c', 'sales_channel', 'delivery_channel'])\
                                         [['amount_to', 'qty']].sum().reset_index()
df_s_22_4_1p_gr.to_parquet('./datasets/sales_gr/df_s_22_4_1p.parquet')

In [6]:
# 22_23_3P
df_s_3p = pd.read_parquet('./datasets/sales_2022_2023_3P.parquet')
df_s_3p['amount_to'] = df_s_3p['amount_to'].astype('float').round(2)
df_s_3p['qty'] = df_s_3p['qty'].astype('int').round(2)

In [14]:
df_s_3p['store_id'] = df_s_3p['store_id'].fillna(380)
df_s_3p['top_l_c'] = df_s_3p['top_l_c'].fillna(0)

In [17]:
df_s_3p_gr = df_s_3p.groupby(['store_id', 'cart_date', 'cart_id', 'user_id',\
                                         'top_l_c', 'sales_channel', 'delivery_channel'])\
                                         [['amount_to', 'qty']].sum().reset_index()

In [19]:
df_s_3p_gr.to_parquet('./datasets/sales_gr/df_s_3p.parquet')

In [18]:
# 23_1_1P
df_s_23_1_1p = pd.read_parquet('./datasets/sales_2023_1_1P.parquet')
df_s_23_1_1p['amount_to'] = df_s_23_1_1p['amount_to'].astype('float').round(2)
df_s_23_1_1p['qty'] = df_s_23_1_1p['qty'].astype('int').round(2)

In [19]:
df_s_23_1_1p_gr = df_s_23_1_1p.groupby(['store_id', 'cart_date', 'cart_id', 'user_id',\
                                         'top_l_c', 'sales_channel', 'delivery_channel'])\
                                         [['amount_to', 'qty']].sum().reset_index()
df_s_23_1_1p_gr.to_parquet('./datasets/sales_gr/df_s_23_1_1p.parquet')

In [20]:
# 23_2_1P
df_s_23_2_1p = pd.read_parquet('./datasets/sales_2023_2_1P.parquet')
df_s_23_2_1p['amount_to'] = df_s_23_2_1p['amount_to'].astype('float').round(2)
df_s_23_2_1p['qty'] = df_s_23_2_1p['qty'].astype('int').round(2)

In [21]:
df_s_23_2_1p_gr = df_s_23_2_1p.groupby(['store_id', 'cart_date', 'cart_id', 'user_id',\
                                         'top_l_c', 'sales_channel', 'delivery_channel'])\
                                         [['amount_to', 'qty']].sum().reset_index()
df_s_23_2_1p_gr.to_parquet('./datasets/sales_gr/df_s_23_2_1p.parquet')

In [22]:
# 23_3_1P
df_s_23_3_1p = pd.read_parquet('./datasets/sales_2023_3_1P.parquet')
df_s_23_3_1p['amount_to'] = df_s_23_3_1p['amount_to'].astype('float').round(2)
df_s_23_3_1p['qty'] = df_s_23_3_1p['qty'].astype('int').round(2)

In [23]:
df_s_23_3_1p_gr = df_s_23_3_1p.groupby(['store_id', 'cart_date', 'cart_id', 'user_id',\
                                         'top_l_c', 'sales_channel', 'delivery_channel'])\
                                         [['amount_to', 'qty']].sum().reset_index()
df_s_23_3_1p_gr.to_parquet('./datasets/sales_gr/df_s_23_3_1p.parquet')

In [26]:
df_s_1 = df_s_22_1_1p_gr.append([df_s_22_2_1p_gr, df_s_22_3_1p_gr, df_s_22_4_1p_gr])

/var/folders/t5/84slq0fn2gx51rghrcgxpjt80000gn/T/ipykernel_19912/2160959265.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_s_1 = df_s_22_1_1p_gr.append([df_s_22_2_1p_gr, df_s_22_3_1p_gr, df_s_22_4_1p_gr])

In [27]:
df_s_2 = df_s_23_1_1p_gr.append([df_s_23_2_1p_gr, df_s_23_3_1p_gr, df_s_3p_gr])

/var/folders/t5/84slq0fn2gx51rghrcgxpjt80000gn/T/ipykernel_19912/3837966009.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_s_2 = df_s_23_1_1p_gr.append([df_s_23_2_1p_gr, df_s_23_3_1p_gr, df_s_3p_gr])

In [29]:
print(df_s_1.shape[0])
print(df_s_2.shape[0])

59874300
59346089