In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import itertools
import re
from itertools import product
import operator
from functools import reduce
import polars as pl
#from pandas import option_context
#%pip install openpyxl
%config InlineBackend.figure_format = 'retina'
plt.style.use('seaborn-pastel')
plt.style.use('seaborn-dark')

/var/folders/t5/84slq0fn2gx51rghrcgxpjt80000gn/T/ipykernel_19912/2875002457.py:15: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn-pastel')
/var/folders/t5/84slq0fn2gx51rghrcgxpjt80000gn/T/ipykernel_19912/2875002457.py:16: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn-dark')

In [1]:
import matplotlib
from matplotlib.colors import ListedColormap
from matplotlib.colors import LinearSegmentedColormap
matplotlib.style.use('dark_background')
color_list = ['white','skyblue','pink', 'tomato', 'slateblue', 'wheat', 'lightgrey', 'limegreen', 'royalblue', 'yellowgreen', 'lightseagreen', 'orchid', 'orange']
cmap = LinearSegmentedColormap.from_list("",color_list)

In [2]:
# Import all the google connexion packages
import os
import google.auth
from google.cloud import bigquery
from google.auth import impersonated_credentials

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = "/Users/a20015173/.config/gcloud/legacy_credentials/ekaterina.rezanovich@adeo.com/adc.json"
client_1 = bigquery.Client(project = 'ccdp-transverse-data-dev')

In [3]:
# 22_2_1P
df_s_22_1_1p = pd.read_parquet('./datasets/sales_2022_1_1P.parquet')

In [4]:
df_s_22_1_1p['amount_to'] = df_s_22_1_1p['amount_to'].astype('float').round(2)
df_s_22_1_1p['qty'] = df_s_22_1_1p['qty'].astype('int').round(2)

In [5]:
df_s_22_1_1p.head(2)

,store_id,cart_date,item_id,cart_id,nb_checkouts,sale_channel_id,delivery_channel_id,amount_to,qty,top_l_c,user_id,gmv_type,sales_channel,delivery_channel
0,158,2022-01-11,84338558,158#7#3648#2022-01-11,1,1,1,13.77,3,1,77370668,1P,Store,Pickup
1,173,2022-01-11,82272860,173#3#7304#2022-01-11,1,1,0,109.89,1,1,16325071,1P,Store,Self-service

In [6]:
df_s_22_1_1p_gr = df_s_22_1_1p.groupby(['store_id', 'cart_date', 'cart_id', 'user_id',\
                                         'top_l_c', 'sales_channel', 'delivery_channel'])\
                                         [['amount_to', 'qty']].sum().reset_index()

In [7]:
df_s_22_1_1p_gr.head(2)

,store_id,cart_date,cart_id,user_id,top_l_c,sales_channel,delivery_channel,amount_to,qty
0,3,2022-01-02,3#13#1880#2022-01-02,16511808,1,Website,Pickup,493.7,5
1,3,2022-01-02,3#13#1881#2022-01-02,52445590,0,Website,Pickup,78.4,1

In [9]:
df_s_22_1_1p_gr.to_parquet('./datasets/sales_gr/df_s_22_1_1p.parquet')

In [8]:
# 22_2_1P
df_s_22_2_1p = pd.read_parquet('./datasets/sales_2022_2_1P.parquet')
df_s_22_2_1p['amount_to'] = df_s_22_2_1p['amount_to'].astype('float').round(2)
df_s_22_2_1p['qty'] = df_s_22_2_1p['qty'].astype('int').round(2)

In [10]:
df_s_22_2_1p_gr = df_s_22_2_1p.groupby(['store_id', 'cart_date', 'cart_id', 'user_id',\
                                         'top_l_c', 'sales_channel', 'delivery_channel'])\
                                         [['amount_to', 'qty']].sum().reset_index()
df_s_22_2_1p_gr.to_parquet('./datasets/sales_gr/df_s_22_2_1p.parquet')

In [11]:
# 22_3_1P
df_s_22_3_1p = pd.read_parquet('./datasets/sales_2022_3_1P.parquet')
df_s_22_3_1p['amount_to'] = df_s_22_3_1p['amount_to'].astype('float').round(2)
df_s_22_3_1p['qty'] = df_s_22_3_1p['qty'].astype('int').round(2)

In [12]:
df_s_22_3_1p_gr = df_s_22_3_1p.groupby(['store_id', 'cart_date', 'cart_id', 'user_id',\
                                         'top_l_c', 'sales_channel', 'delivery_channel'])\
                                         [['amount_to', 'qty']].sum().reset_index()
df_s_22_3_1p_gr.to_parquet('./datasets/sales_gr/df_s_22_3_1p.parquet')

In [13]:
# 22_4_1P
df_s_22_4_1p = pd.read_parquet('./datasets/sales_2022_3_1P.parquet')
df_s_22_4_1p['amount_to'] = df_s_22_4_1p['amount_to'].astype('float').round(2)
df_s_22_4_1p['qty'] = df_s_22_4_1p['qty'].astype('int').round(2)

In [14]:
df_s_22_4_1p_gr = df_s_22_4_1p.groupby(['store_id', 'cart_date', 'cart_id', 'user_id',\
                                         'top_l_c', 'sales_channel', 'delivery_channel'])\
                                         [['amount_to', 'qty']].sum().reset_index()
df_s_22_4_1p_gr.to_parquet('./datasets/sales_gr/df_s_22_4_1p.parquet')

In [15]:
# 22_23_3P
df_s_3p = pd.read_parquet('./datasets/sales_2022_2023_3P.parquet')
df_s_3p['amount_to'] = df_s_3p['amount_to'].astype('float').round(2)
df_s_3p['qty'] = df_s_3p['qty'].astype('int').round(2)

In [16]:
df_s_3p_gr = df_s_3p.groupby(['store_id', 'cart_date', 'cart_id', 'user_id',\
                                         'top_l_c', 'sales_channel', 'delivery_channel'])\
                                         [['amount_to', 'qty']].sum().reset_index()

In [17]:
df_s_3p_gr.to_parquet('./datasets/sales_gr/df_s_3p.parquet')

In [18]:
# 23_1_1P
df_s_23_1_1p = pd.read_parquet('./datasets/sales_2023_1_1P.parquet')
df_s_23_1_1p['amount_to'] = df_s_23_1_1p['amount_to'].astype('float').round(2)
df_s_23_1_1p['qty'] = df_s_23_1_1p['qty'].astype('int').round(2)

In [19]:
df_s_23_1_1p_gr = df_s_23_1_1p.groupby(['store_id', 'cart_date', 'cart_id', 'user_id',\
                                         'top_l_c', 'sales_channel', 'delivery_channel'])\
                                         [['amount_to', 'qty']].sum().reset_index()
df_s_23_1_1p_gr.to_parquet('./datasets/sales_gr/df_s_23_1_1p.parquet')

In [20]:
# 23_2_1P
df_s_23_2_1p = pd.read_parquet('./datasets/sales_2023_2_1P.parquet')
df_s_23_2_1p['amount_to'] = df_s_23_2_1p['amount_to'].astype('float').round(2)
df_s_23_2_1p['qty'] = df_s_23_2_1p['qty'].astype('int').round(2)

In [21]:
df_s_23_2_1p_gr = df_s_23_2_1p.groupby(['store_id', 'cart_date', 'cart_id', 'user_id',\
                                         'top_l_c', 'sales_channel', 'delivery_channel'])\
                                         [['amount_to', 'qty']].sum().reset_index()
df_s_23_2_1p_gr.to_parquet('./datasets/sales_gr/df_s_23_2_1p.parquet')

In [22]:
# 23_3_1P
df_s_23_3_1p = pd.read_parquet('./datasets/sales_2023_3_1P.parquet')
df_s_23_3_1p['amount_to'] = df_s_23_3_1p['amount_to'].astype('float').round(2)
df_s_23_3_1p['qty'] = df_s_23_3_1p['qty'].astype('int').round(2)

In [23]:
df_s_23_3_1p_gr = df_s_23_3_1p.groupby(['store_id', 'cart_date', 'cart_id', 'user_id',\
                                         'top_l_c', 'sales_channel', 'delivery_channel'])\
                                         [['amount_to', 'qty']].sum().reset_index()
df_s_23_3_1p_gr.to_parquet('./datasets/sales_gr/df_s_23_3_1p.parquet')

In [26]:
df_s_1 = df_s_22_1_1p_gr.append([df_s_22_2_1p_gr, df_s_22_3_1p_gr, df_s_22_4_1p_gr])

/var/folders/t5/84slq0fn2gx51rghrcgxpjt80000gn/T/ipykernel_19912/2160959265.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_s_1 = df_s_22_1_1p_gr.append([df_s_22_2_1p_gr, df_s_22_3_1p_gr, df_s_22_4_1p_gr])

In [27]:
df_s_2 = df_s_23_1_1p_gr.append([df_s_23_2_1p_gr, df_s_23_3_1p_gr, df_s_3p_gr])

/var/folders/t5/84slq0fn2gx51rghrcgxpjt80000gn/T/ipykernel_19912/3837966009.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_s_2 = df_s_23_1_1p_gr.append([df_s_23_2_1p_gr, df_s_23_3_1p_gr, df_s_3p_gr])

In [29]:
print(df_s_1.shape[0])
print(df_s_2.shape[0])

59874300
59346089

In [30]:
df_s = df_s_1.append(df_s_2)

/var/folders/t5/84slq0fn2gx51rghrcgxpjt80000gn/T/ipykernel_19912/716206102.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_s = df_s_1.append(df_s_2)

NPS DATA

In [34]:
# questions data
filepath_1 = "./datasets/questions.parquet"
if not os.path.isfile(filepath_1):

    query = """
    select t1.survey_id, t1.name , t2.question_id, t2.name, t2.content
    from `dfdp-customer-exp-mt-prod.customer_experience_measure_bu001.client_experience_survey` as t1
    left join `dfdp-customer-exp-mt-prod.customer_experience_measure_bu001.client_experience_question` as t2 on t2.survey_id = t1.survey_id
    where t2.question_id in ('SV_81jKyfOtepO6Weq__QID1_NPS_GROUP', 'SV_4OUB8z9FwEgBiU6__QID1_NPS_GROUP', 'SV_5nFeSHRTsx1yxWC__QID1_NPS_GROUP', 'SV_77FLHcnyIyMM07Q__QID1_NPS_GROUP', 'SV_bj9J6UgbM2yIATQ__QID13_NPS_GROUP',
    'SV_2fA21joHLvPEZoi__QID1_NPS_GROUP', 'SV_5nVqXD824PZXj14__QID1_NPS_GROUP')"""

    dl_data = pd.read_gbq(query=query, project_id="ccdp-transverse-data-dev")
    dl_data.to_parquet(filepath_1)

df_q = pd.read_parquet(filepath_1)

In [35]:
# answers data
filepath_2 = "./datasets/answers.parquet"
if not os.path.isfile(filepath_2):

    query = """
select t3.answer_id, t3.feedback_id, t3.question_id, t3.score, t3.score_category, t3.comment,
t4.touchpoint_id, t4.store_code, t4.user_id, t4.user_id_type, cast(t4.date as date) as answer_date
from `dfdp-customer-exp-mt-prod.customer_experience_measure_bu001.client_experience_answer` as t3
left join `dfdp-customer-exp-mt-prod.customer_experience_measure_bu001.client_experience_feedback` as t4 on t4.feedback_id = t3.feedback_id
where t3.question_id in ('SV_81jKyfOtepO6Weq__QID1_NPS_GROUP', 'SV_4OUB8z9FwEgBiU6__QID1_NPS_GROUP', 'SV_5nFeSHRTsx1yxWC__QID1_NPS_GROUP', 'SV_77FLHcnyIyMM07Q__QID1_NPS_GROUP', 'SV_bj9J6UgbM2yIATQ__QID13_NPS_GROUP',
'SV_2fA21joHLvPEZoi__QID1_NPS_GROUP', 'SV_5nVqXD824PZXj14__QID1_NPS_GROUP')
    """

    dl_data = pd.read_gbq(query=query, project_id="ccdp-transverse-data-dev")
    dl_data.to_parquet(filepath_2)

df_a = pd.read_parquet(filepath_2)

:

:

In [ ]:
df_nps_all = df_a.merge(df_q, left_on = 'question_id', right_on = 'question_id', how='left')

In [ ]:
del df_nps_all['name_1'], df_nps_all['user_id_type'],  df_nps_all['content']

In [ ]:
# filter only nps with user_id
df_nps = df_nps_all[df_nps_all['user_id'].notna()]

In [ ]:
# first and last TP of the customer
df_nps_dates = df_nps.groupby('user_id')['answer_date'].agg(['min', 'max']).reset_index()
df_nps_dates.columns = ['uid', 'first_nps_date', 'last_nps_date']

    user_id         min         max
0   1000000  2023-03-15  2023-06-18
1  10000024  2022-04-09  2022-04-09
2   1000004  2022-11-13  2022-11-13
3   1000011  2022-07-11  2023-03-10
4  10000188  2023-05-30  2023-05-30

In [ ]:
df_nps_1 = df_nps.merge(df_nps_dates, left_on='user_id', right_on='uid', how='left')
del df_nps_1['uid']

,answer_id,feedback_id,question_id,score,score_category,comment,touchpoint_id,store_code,user_id,answer_date,survey_id,name,uid,first_nps_date,last_nps_date
0,R_111w3BVzUYwknmY__QID1_NPS_GROUP,R_111w3BVzUYwknmY,SV_81jKyfOtepO6Weq__QID1_NPS_GROUP,8,Passif,"Bonjour, \nJe suis entièrement satisfait de ...",SV_81jKyfOtepO6Weq,<NA>,10217876,2023-08-20,SV_81jKyfOtepO6Weq,LMFR - Client SAV - PROD,10217876,2022-04-09,2023-08-20
1,R_3htf0IgZ0ecDb8u__QID1_NPS_GROUP,R_3htf0IgZ0ecDb8u,SV_81jKyfOtepO6Weq__QID1_NPS_GROUP,10,Promoteur,None,SV_81jKyfOtepO6Weq,<NA>,54974624,2023-08-16,SV_81jKyfOtepO6Weq,LMFR - Client SAV - PROD,54974624,2023-08-16,2023-08-16

In [ ]:
# nb FB of the customer
df_nps_nb_fb = df_nps.groupby('user_id')['feedback_id'].nunique().reset_index()
df_nps_nb_fb.columns = ['uid', 'nb_fb']

        uid  nb_fb
0   1000000      2
1  10000024      1
2   1000004      1
3   1000011      2
4  10000188      1

In [ ]:
df_nps_2 = df_nps_1.merge(df_nps_nb_fb, left_on='user_id', right_on='uid', how='left')
del df_nps_2['uid']

,answer_id,feedback_id,question_id,score,score_category,comment,touchpoint_id,store_code,user_id,answer_date,survey_id,name,first_nps_date,last_nps_date,nb_fb
0,R_111w3BVzUYwknmY__QID1_NPS_GROUP,R_111w3BVzUYwknmY,SV_81jKyfOtepO6Weq__QID1_NPS_GROUP,8,Passif,"Bonjour, \nJe suis entièrement satisfait de ...",SV_81jKyfOtepO6Weq,<NA>,10217876,2023-08-20,SV_81jKyfOtepO6Weq,LMFR - Client SAV - PROD,2022-04-09,2023-08-20,14
1,R_3htf0IgZ0ecDb8u__QID1_NPS_GROUP,R_3htf0IgZ0ecDb8u,SV_81jKyfOtepO6Weq__QID1_NPS_GROUP,10,Promoteur,None,SV_81jKyfOtepO6Weq,<NA>,54974624,2023-08-16,SV_81jKyfOtepO6Weq,LMFR - Client SAV - PROD,2023-08-16,2023-08-16,1

In [ ]:
# 0 for detractor, 1 for passive, 2 for promotor
def fb_type(df):
    if df['score'] <= 6 :
        return 0
    elif df['score'] >= 9:
        return 2
    else:
        return 1

In [ ]:
df_nps_2['score'].unique()

<IntegerArray>
[8, 10, 9, 4, 0, 3, 6, 5, 1, 7, 2, <NA>]
Length: 12, dtype: Int64

In [ ]:
df_nps_3 = df_nps_2[df_nps_2['score'].notna()]

In [ ]:
df_nps_3['fb_type'] = df_nps_3.apply(fb_type, axis=1)

/var/folders/t5/84slq0fn2gx51rghrcgxpjt80000gn/T/ipykernel_46488/3604727486.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nps_3['fb_type'] = df_nps_3.apply(fb_type, axis=1)

,answer_id,feedback_id,question_id,score,score_category,comment,touchpoint_id,store_code,user_id,answer_date,survey_id,name,first_nps_date,last_nps_date,nb_fb,fb_type
0,R_111w3BVzUYwknmY__QID1_NPS_GROUP,R_111w3BVzUYwknmY,SV_81jKyfOtepO6Weq__QID1_NPS_GROUP,8,Passif,"Bonjour, \nJe suis entièrement satisfait de ...",SV_81jKyfOtepO6Weq,<NA>,10217876,2023-08-20,SV_81jKyfOtepO6Weq,LMFR - Client SAV - PROD,2022-04-09,2023-08-20,14,1
1,R_3htf0IgZ0ecDb8u__QID1_NPS_GROUP,R_3htf0IgZ0ecDb8u,SV_81jKyfOtepO6Weq__QID1_NPS_GROUP,10,Promoteur,None,SV_81jKyfOtepO6Weq,<NA>,54974624,2023-08-16,SV_81jKyfOtepO6Weq,LMFR - Client SAV - PROD,2023-08-16,2023-08-16,1,2

In [ ]:
# types of the customer fb
df_nps_fb_typ = df_nps_3.pivot_table(index='user_id', columns='fb_type', values='feedback_id', aggfunc='nunique').reset_index()
df_nps_fb_typ.columns = ['uid', '0', '1', '2']
df_nps_fb_typ = df_nps_fb_typ.fillna(0)
df_nps_fb_typ.head()

In [ ]:
def fb_type_res(df):
    if df['0']==0 and df['1']==0:
        return "only positive"
    elif df['0']==0 and df['2']==0:
        return "only passive"
    elif df['1']==0 and df['2']==0:
        return "only negative"
    elif df['0']==0:
        return "passive and positive"
    elif df['1']==0:
        return "negative and positive"  
    elif df['2']==0:
        return "negative and passive"  
    else:
        return "negative, passive, positive"

In [ ]:
df_nps_fb_typ['fb_type'] = df_nps_fb_typ.apply(fb_type_res, axis=1)

In [ ]:
def fb_type_res_nb(df):
    if (df['0']+df['1']+df['2']) > 1:
        return "mutli"
    else:
        return "mono"

In [ ]:
df_nps_fb_typ['fb_nb_type'] = df_nps_fb_typ.apply(fb_type_res_nb, axis=1)

In [ ]:
df_nps_fb_typ.columns = ['uid', 'nb_fb_neg', 'nb_fb_pas', 'nb_fb_pos', 'fb_group', 'fb_nb_type']

        uid  nb_fb_neg  nb_fb_pas  nb_fb_pos       fb_group fb_nb_type
0   1000000        0.0        0.0        2.0  only positive      mutli
1  10000024        1.0        0.0        0.0  only negative       mono

In [ ]:
df_nps_4 = df_nps_3.merge(df_nps_fb_typ, left_on='user_id', right_on='uid', how='left')
del df_nps_4['uid']

,answer_id,feedback_id,question_id,score,score_category,comment,touchpoint_id,store_code,user_id,answer_date,...,name,first_nps_date,last_nps_date,nb_fb,fb_type,nb_fb_neg,nb_fb_pas,nb_fb_pos,fb_group,fb_nb_type
0,R_111w3BVzUYwknmY__QID1_NPS_GROUP,R_111w3BVzUYwknmY,SV_81jKyfOtepO6Weq__QID1_NPS_GROUP,8,Passif,"Bonjour, \nJe suis entièrement satisfait de ...",SV_81jKyfOtepO6Weq,<NA>,10217876,2023-08-20,...,LMFR - Client SAV - PROD,2022-04-09,2023-08-20,14,1,0.0,1.0,13.0,passive and positive,mutli
1,R_3htf0IgZ0ecDb8u__QID1_NPS_GROUP,R_3htf0IgZ0ecDb8u,SV_81jKyfOtepO6Weq__QID1_NPS_GROUP,10,Promoteur,None,SV_81jKyfOtepO6Weq,<NA>,54974624,2023-08-16,...,LMFR - Client SAV - PROD,2023-08-16,2023-08-16,1,2,0.0,0.0,1.0,only positive,mono

In [ ]:
df_nps_summary_type = df_nps_4.groupby('fb_nb_type')['user_id'].nunique().reset_index()
df_nps_summary_type['share_%'] = (df_nps_summary_type['user_id'] / df_nps_summary_type['user_id'].sum())*100
df_nps_summary_type

  fb_nb_type  user_id    share_%
0       mono   889117  72.614886
1      mutli   335311  27.385114

In [ ]:
df_nps_summary_group = df_nps_4.groupby('fb_group')['user_id'].nunique().reset_index()
df_nps_summary_group['share_%'] = (df_nps_summary_group['user_id'] / df_nps_summary_group['user_id'].sum())*100
df_nps_summary_group = df_nps_summary_group.sort_values(by='share_%', ascending=False)
df_nps_summary_group

                      fb_group  user_id    share_%
5                only positive   680303  55.560882
4                 only passive   277548  22.667564
3                only negative   129318  10.561503
6         passive and positive    77828   6.356274
1        negative and positive    26855   2.193269
0         negative and passive    21942   1.792020
2  negative, passive, positive    10634   0.868487

In [ ]:
df_nps_summary = df_nps_4.groupby(['fb_nb_type', 'fb_group'])['user_id'].nunique().reset_index()
df_nps_summary['share_%'] = (df_nps_summary['user_id'] / df_nps_summary['user_id'].sum())*100
df_nps_summary = df_nps_summary.sort_values(by=['fb_nb_type','share_%'], ascending=[True, False])
df_nps_summary

  fb_nb_type                     fb_group  user_id    share_%
2       mono                only positive   524428  42.830448
1       mono                 only passive   246769  20.153819
0       mono                only negative   117920   9.630619
8      mutli                only positive   155875  12.730434
9      mutli         passive and positive    77828   6.356274
7      mutli                 only passive    30779   2.513745
4      mutli        negative and positive    26855   2.193269
3      mutli         negative and passive    21942   1.792020
6      mutli                only negative    11398   0.930884
5      mutli  negative, passive, positive    10634   0.868487